<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>RECETAS</h1>
<img src="/static/Django.jpg">
<a href="{% url 'canelones' %}"> home </a>
<a href="{% url 'carbonara' %}"> home </a>
<a href="{% url 'ensaladilla_rusa' %}"> home </a>
<a href="{% url 'feijoada' %}"> home </a>
<a href="{% url 'flor_de_calabacin' %}"> home </a>
<a href="{% url 'Gazpacho' %}"> home </a>
<a href="{% url 'mafe' %}"> home </a>
<a href="{% url 'menu_infantil' %}"> home </a>
<a href="{% url 'pizza' %}"> home </a>
<a href="{% url 'Receta_Facil' %}"> home </a>
<a href="{% url 'sopa_de_noodles' %}"> home </a>


</body>
</html>