<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>RECETAS</h1>
<ul>

<li><a href="{% url 'carbonara' %}"> carbonara/home </a></li>
<li><a href="{% url 'ensaladilla_rusa' %}"> ensaladilla_rusa/home </a></li>
<li><a href="{% url 'feijoada' %}"> feiojada/home </a></li>
<li><a href="{% url 'flor_de_calabacin' %}"> flor_calabacin/home </a>
<li><a href="{% url 'Gazpacho' %}"> Gazpacho/home</a>
<li><a href="{% url 'mafe' %}"> mafe /home</a>
<li><a href="{% url 'menu_infantil' %}"> menu_infantil/home </a>
<li><a href="{% url 'pizza' %}"> pizza/home </a>
<li><a href="{% url 'Receta_Facil' %}"> Receta_Facil/home</a>
    <li><a href="{% url 'sopa_de_noodles' %}"> sopa_noodles/home</a>

</ul>

</body>
</html>